* {
  margin: 0;
  padding: 0;
}
header,
main,
footer,
nav,
aside,
section,
div {
  display: block;
}
.no-gutters {
  margin-right: 0;
  margin-left: 5%;
  margin-top: 5%;
}
.wrapper {
  position: absolute;
  top: 5%;
  left: 33%;
  border: 1px solid;
  border-radius: 15px;
  background: white;
  height: 10%;
  width: 35%;
}
.welcome-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #626262;
  font-size: 42px;
  margin-top: 12%;
}
.backGroundImage {
  background-image: url('../../Images/BackGroundImage.png');
  background-repeat: no-repeat;
  height: 260vh;
  width: 100%;
  background-size: auto;
}
