* {
  margin: 0;
  padding: 0;
}
header,
main,
footer,
nav,
aside,
section,
div {
  display: block;
}
@media (min-width: 600px) {
  /* Container login*/
  .MuiContainer-maxWidthSm {
    height: 100vh;
  }
  .form-login-content {
    border-radius: 10px;
    position: relative;
    background: rgba(250, 235, 215, 0.39);
    height: 55vh;
    border: 1px solid;
    top: 15vh;
  }

  .form-inputs {
    margin-bottom: 1rem;
    margin-left: 22vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }

  .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }

  .login-button {
    margin-left: 29vh;
    margin-bottom: 2vh;
  }
  .register-login-button {
    margin-left: 22vh;
  }

  #form-title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #626262;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 42px;
  }
  /* End of  login Container */

  /* Register container */
  .form-register-content {
    border-radius: 10px;
    position: relative;
    background: rgba(250, 235, 215, 0.39);
    height: 78vh;
    border: 1px solid;
    top: 15vh;
    left: 49vh;
  }

  .register-button {
    margin-left: 27vh;
    margin-bottom: 2vh;
  }

  #down-title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #626262;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 20px;
  }
  /* end of Register container*/
}

#user_header {
  font-weight: 200;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}
